.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: palegoldenrod;
  /* background-image: url("file:///Users/ruchaj/https:/github.com/claytonnguyen/hackSU-2021.git/hackSU-2021/battleship/src/img/battleCOVID.png"); */
  background-size: 99%;
}

