.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: palegoldenrod;
<<<<<<< HEAD
  /* background-image: url("file:///Users/ruchaj/https:/github.com/claytonnguyen/hackSU-2021.git/hackSU-2021/battleship/src/img/battleCOVID.png"); */
  background-size: 99%;
=======
  background-image: url(./img/sea.jpg);
  background-size: cover;
>>>>>>> 3f84c051ebdf948b98fd49ea9b8a965407f428ca
}

.Title {
  text-align: center;
  font-size: 48pt;
  line-height: 200px;
  background-color: cornflowerblue;
  border: blue;
  border-radius: 10pt;
  
}

.board {
  width: 650px;
  height: auto;
  background-color: #FAEBD7;
  border-radius: 30pt;
  border-color: black;  
}

.table {
  margin: 70px;
}

.setPosButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

.rowTitle {
  font-size: 24pt;
  background-color: cadetblue;
  border-color: black;
  border-radius: 30pt;
  margin-left: 200pt;
  
}

.tableRow {
  
}
