.Cell {
    height: 50px;
    width: 50px;
    border-radius: 1px;
    background: url(covid1.jfif);
    /* background-color: blue; */
  }

  .Cell-lit {
    background: url(bottle.png);
    /* background-color: black; */
  }