/* .Cell {
    height: 50px;
    width: 50px;
    border-radius: 1px;
    background: url(covid1.jfif);
    /* background-color: blue; */
  }

  .Cell-lit {
<<<<<<< HEAD
    background: url(bottle.png);
    /* background-color: black; */
  }
=======
    background-color: black;
  } */

.square {
  width: 50px;
  height: 50px;
  color: black;
  background-color: white;
  border: black;
  border-radius: 1px;
}

.square-b {
  width: 50px;
  height: 50px;
  color: black;
  background: url(./img/icons8-coronavirus.png);
  border: blue;
  border-radius: 1px;
}

.square:focus {
  border: none;
  outline: none;
}

.square-b:focus {
  border: none;
  outline: none;
}
>>>>>>> ce28d8e26f499cf023c121d5897f881945a0b311
